# C output files
*.o
*.out

# Assembly output
*.s

# XCode projects in their entirity
*.xcodeproj/

# Python byte code files
*.pyc

# That other practice repo that's also in this folder
destroy-this-repo/

